@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  transition: background-color 0.3s ease, color 0.3s ease;
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 90px;
}

/* Hide scrollbar but keep scroll */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes marqueeSlow {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-slow {
  animation: marqueeSlow 40s linear infinite;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.4s ease;
}
